/* BASIC UTILITES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

.btn-primary {
  background: rgb(255, 0, 128);
  border-radius: 2px;
  padding: 12px !important;
}

.btn-primary:hover {
  background: rgb(255, 35, 145);
}

.color-primary {
  color: rgb(255, 0, 128) !important;
}

.bold {
  font-weight: bold !important;
}

.light {
  font-weight: 300;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.line1,
.line2,
.line3 {
  transition: 0.5s ease-in-out;
}

/* HEADER */

header {
  background: url("../img/home-show.jpg") no-repeat center center/cover;
  height: 70vh;
  color: #fff;
}

.head-part {
  background-color: rgb(51, 51, 51, 0.7);
  height: 100%;
}

/* NAVIGATION MENU */
#navbar {
  display: flex;
  height: 10vh;
  width: 100%;
  position: relative;
}

.logo {
  padding: 18px;
}

.logo h1 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.nav-menu {
  margin-left: auto;
}

.nav-links {
  display: flex;
  transition: 0.5s ease-in-out;
}

.nav-links li {
  list-style: none;
  padding: 25px;
}

.nav-links li a {
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/* BURGER ICON */

.burger {
  padding: 25px;
  margin-left: auto;
  display: none;
}

.lines {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 5px;
}

.cross-mark1 {
  transform: rotate(45deg) translate(-5px, 11px);
  transition: 0.5s ease;
}
.cross-mark2 {
  display: none;
}

.cross-mark3 {
  transform: rotate(-45deg) translate(-5px, -11px);
  transition: 0.5s ease;
}

.heading {
  text-align: center;
  padding: 20px;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
/* ANIMATIONS */

@keyframes nav-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 862px) {
  .logo h1 {
    position: absolute;
    left: 0;
    top: 18px;
    padding-left: 20px;
  }

  .nav-links {
    position: relative;
    top: 10vh;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
    display: none;
  }

  .nav-links-visible {
    display: block;
    animation-name: nav-animation;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 1.5);
  }

  .nav-links li {
    padding: 30px !important;
    text-align: center;
  }

  .burger {
    display: block;
    position: absolute;
    right: 0;
  }
}

.style-line {
  margin: auto;
  margin-top: 30px;
  height: 3px;
  width: 100px;
  background: linear-gradient(
    120deg,
    rgb(255, 35, 145),
    rgb(241, 0, 121),
    rgb(231, 37, 134)
  );
  border-radius: 30px;
}

@media (max-width: 620px) {
  .logo h1 {
    top: 18px;
  }
}

@media (max-width: 475px) {
  .logo h1 {
    top: 16px;
  }
}
